body {
	font-family: "Fenix", serif;
	text-align: center;
}

.container {
	width: calc(100% - 17px);
	max-width: 700px;
	text-align: left;
}

img {
	width: 100%;
}

span.caption {
	color: hsl(0, 0%, 88.2094776%);
}

code {
	color: hsl(0, 0%, 10%);
	font-family: "Inconsolata", monospace;
}

pre {
	background-color: hsl(0, 0%, 88.2094776%);
	white-space: pre-wrap;
}

/* Syntax Theme */
.string {
	color: hsl(170, 50%, 55%);
}

.special {
	color: hsl(290, 50%, 55%);
}

.global {
	color: hsl(40, 50%, 55%);
}

.method {
	color: hsl(190, 50%, 55%);
}

.comment {
	color: hsl(0, 0%, 55%);
}

#back {
	position: absolute;
	top: 16px;
	left: 16px;
	border-bottom: none;
}

#back svg {
	height: 15px;
}

#back svg #back-arrow {
	fill: hsl(0, 0%, 55%);
	transition: fill .2s ease;
}

#back:hover svg #back-arrow {
	fill: hsl(200, 50%, 55%);
}
