body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: "Fenix", serif;
}

.container {
	max-width: 700px;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 70px;
}

.post-title {
	margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, pre, img, ol, ul {
	width: 100%;
	margin-bottom: 21px;
}

ol, ul {
	margin-left: 35px;
	margin-right: 35px;
}

li:not(:last-of-type) {
	margin-bottom: 7px;
}

span.caption {
	color: hsl(0, 0%, 71%);
}

code {
	padding: 2px;
	color: hsl(200, 29%, 14%);
	background-color: hsl(200, 14%, 86%);
	border-radius: 2px;
	font-family: "Inconsolata", monospace;
}

pre {
	padding: 14px;
	background-color: hsl(200, 29%, 14%);
	border-radius: 3.5px;
	white-space: pre-wrap;
	word-break: break-word;
}

pre code {
	padding: 0;
	color: hsl(200, 14%, 71%);
	background-color: hsl(200, 29%, 14%);
	border-radius: 0;
}

/* Syntax Theme */
.string {
	color: hsl(100, 14%, 57%);
}

.special {
	color: hsl(300, 14%, 57%);
}

.global {
	color: hsl(20, 29%, 57%);
}

.method {
	color: hsl(200, 29%, 57%);
}

.comment {
	color: hsl(200, 29%, 29%);
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 35px;
}

footer a {
	margin-left: 14px;
	margin-right: 14px;
}

#back {
	position: absolute;
	top: 14px;
	left: 14px;
	border-bottom: none;
}

#back svg {
	height: 15px;
}

#back svg #back-arrow {
	fill: hsl(0, 0%, 71%);
	transition: fill .2s ease;
}

#back:hover svg #back-arrow {
	fill: hsl(200, 43%, 43%);
}
