body {
  font-family: "Lora", monospace;
  color: #414141;
  background-color: #f5f5f5;
}

.container {
  max-width: 650px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.post-title {
  color: #414141;
  font-family: "HK Nova", sans-serif;
}

.post-date {
  margin-bottom: 50px;
  color: #666666;
  font-family: "Inconsolata", monospace;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #414141;
  font-family: "HK Nova", sans-serif;
}

.post-content p, .post-content li, .post-content ol, .post-content ul {
  color: #414141;
  font-family: "Lora", serif;
  font-size: 20px;
}

.post-content p {
  margin-bottom: 20px;
}

.post-content a {
  color: #2590ff;
  text-decoration: none;
  border-bottom: 2px solid #2590ff;
  transition: color .2s ease, border .2s ease;
}

.post-content a:hover {
  color: #414141;
  border-bottom: 2px solid #414141;
}

.post-content img {
  width: 100%;
}

.post-content span.caption {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: #888888;
  font-family: "Inconsolata", monospace;
  font-size: 15px;
}

.post-content code {
  font-family: "Inconsolata", monospace;;
}

.post-content pre code {
  position: relative;
}

.post-content pre code::after {
  position: absolute;
  top: 5px;
  right: 10px;
  content: attr(class);
  color: #CFCFCF;
  font-size: 15px;
}

.string {
  color: #02C1A7;
}
.special {
  color: #AC2EC5;
}
.global {
  color: #db9114;
}
.method {
  color: #00A2CD;
}
.comment {
  color: #989898;
}

#back {
  position: absolute;
  top: 10px;
  left: 10px;
}

#back svg {
  height: 15px;
}

#back svg #back-arrow {
  transition: fill .2s ease;
}

#back:hover svg #back-arrow {
  fill: #2590ff;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 50px;
  }
}
