body {
	padding: 35px;
	font-family: "Fenix", serif;
	text-align: center;
}

.container {
	max-width: 700px;
	text-align: left;
}

h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, pre, img {
	padding: 14px;
}

img {
	width: 100%;
}

span.caption {
	color: hsl(0, 0%, 74%);
}

code {
	color: hsl(0, 0%, 10%);
	font-family: "Inconsolata", monospace;
}

pre {
	white-space: pre-wrap;
	word-break: break-word;
}

pre code {
	padding: 0;
}

/* Syntax Theme */
.string {
	color: hsl(100, 29%, 49%);
}

.special {
	color: hsl(300, 29%, 49%);
}

.global {
	color: hsl(30, 43%, 49%);
}

.method {
	color: hsl(200, 43%, 49%);
}

.comment {
	color: hsl(200, 14%, 74%);
}

#back {
	position: absolute;
	top: 14px;
	left: 14px;
	border-bottom: none;
}

#back svg {
	height: 15px;
}

#back svg #back-arrow {
	fill: hsl(0, 0%, 74%);
	transition: fill .2s ease;
}

#back:hover svg #back-arrow {
	fill: hsl(200, 29%, 49%);
}
