body {
	text-align: center;
	font-family: "Fenix", serif;
}

.container {
	text-align: left;
}

h1, #logo {
	display: inline-block;
	border-bottom: none;
	vertical-align: middle;
}

#logo img {
	width: 40px;
}

p {
	clear: both;
}

.post-date {
	float: left;
}

.post-title {
	float: right;
}

.post-title a {
	color: hsl(200, 29%, 49%);
	border-bottom: none;
	transition: color .2s ease;
}
