body {
  background: #f5f5f5;
}

.container {
  max-width: 650px;
}

.posts {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.post-date {
  margin-bottom: 0;
  color: #666666;
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
}

.post-title {
  margin-bottom: 3rem;
  font-family: "HK Nova", sans-serif;
  font-size: 4rem;
}

.post-title a {
  color: #2590ff;
  text-decoration: none;
  transition: color .2s ease;
}

.post-title a:hover {
  color: #414141;
}
