body {
  background: #f5f5f5;
}

#logo {
	position: absolute;
  top: 7%;
	left: 7%;
}

.container {
  margin-top: 125px;
  max-width: 650px;
}

.posts {
  margin-left: auto;
  margin-right: auto;
}

.post-date {
  margin-bottom: 0;
  color: #666666;
  font-family: "Inconsolata", monospace;
}

.post-title {
  margin-bottom: 30px;
  font-family: "HK Nova", sans-serif;
}

.post-title a {
  color: #2590ff;
  text-decoration: none;
  transition: color .2s ease;
}

.post-title a:hover {
  color: #414141;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 50px;
  }

  #logo {
    position: relative;
    top: 0;
    left: 0;
  }

  #logo img {
    margin-bottom: 50px;
  }
}
