html {
	background: url("/img/background.png");
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p {
	-webkit-font-smoothing: antialiased;
}

a {
	color: hsl(272, 100%, 14%);
	background-color: hsl(272, 100%, 94%);
}

.plain {
	color: hsl(0, 0%, 14%);
	background: none;
}

img {
	max-width: 100%;
}

span.caption {
	display: block;
	color: hsl(0, 0%, 71%);
}

code {
	color: hsl(200, 31%, 14%);
	background-color: hsl(200, 14%, 90%);
	font-family: "Inconsolata", monospace;
}

pre {
	background-color: hsl(200, 31%, 14%);
}

pre code {
	color: hsl(200, 14%, 65%);
	background-color: hsl(200, 31%, 14%);
}

/* Syntax Theme */
.token.string {
	color: hsl(100, 14%, 55%);
}

.token.keyword {
	color: hsl(300, 14%, 55%);
}

.token.number, .token.boolean, .token.attr-name {
	color: hsl(20, 31%, 55%);
}

.token.function, .token.tag {
	color: hsl(200, 31%, 55%);
}

.token.attr-value {
	color: hsl(200, 14%, 65%);
}

.token.comment {
	color: hsl(200, 31%, 29%);
}

.katex {
	font-size: calc(15px * var(--grain-scale));
}

.katex-display {
	width: calc(351px * var(--grain-scale));
}
