@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  src: local("Gilroy Bold"), url("./Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  src: local("Gilroy Light"), url("./Gilroy-Light.otf") format("opentype");
}
